/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss';
@plugin "daisyui";
@plugin "@tailwindcss/typography";

.animate-ping {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite !important;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(8);
    opacity: 0;
  }
}

.input {
  @apply text-[16px];
}

.btn {
  @apply font-bold;
}

.btn-outline.btn-primary,
.btn-outline.btn-secondary {
  @apply text-neutral;
}

@font-face {
  font-family: 'Ringold Soft';
  src: url('/Ringold-Soft.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.hs-form {
  @apply grid gap-4 grid-cols-1;
}

.step-2 .hs-form {
  @apply grid-cols-3;
}

.hs-input:not([type='checkbox']) {
  @apply input text-black w-full;
}

.hs-input[type='checkbox'] {
  @apply checkbox border-white mr-2;
}

.hs-form-booleancheckbox {
  @apply font-bold max-lg:text-sm;
}

.hs-button {
  @apply btn btn-neutral w-full font-display text-xl lg:text-2xl text-white;
}

.hs-submit,
.legal-consent-container {
  @apply col-span-3;
}

.mapboxgl-popup-anchor-bottom {
  margin-top: -1.5rem;
}

.mapboxgl-popup-anchor-top {
  margin-top: 1.5rem;
}

.mapboxgl-popup-close-button {
  @apply !btn !btn-sm !btn-circle !btn-ghost;
  margin: 4px;
}

.mapboxgl-popup-close-button span {
  font-size: 24px;
  margin-top: -4px;
}

.mapboxgl-popup-content {
  @apply !card !card-body;
}

.mapboxgl-marker:has(.markerActive) {
  @apply z-10;
}

.mapboxgl-marker {
  /* Fix for tooltip hiding behind others */
  @apply hover:z-20;
}

.hs-button:hover {
  @apply scale-105;
}

.modal .hs-button {
  @apply btn-primary text-black;
}

@theme {
  --font-display: 'Ringold Soft', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body: 'Poppins', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* ... */
}

@theme {
  --color-primary-contrast: oklch(1 0 0);
  --color-secondary-contrast: oklch(1 0 0);
  --color-accent-contrast: oklch(14% 0.004 49.25);
  --color-neutral-contrast: oklch(14% 0.004 49.25);
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: true;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(92% 0.003 48.717);
  --color-base-300: oklch(86% 0.005 56.366);
  --color-base-content: oklch(14% 0.004 49.25);
  --color-primary-hex: #ffa300;
  --color-primary: oklch(78.92% 0.1713 69.64);
  --color-primary-content: oklch(14% 0.004 49.25);
  --color-secondary: oklch(76.04% 0.1741 129.85);
  --color-secondary-content: oklch(14% 0.004 49.25);
  --color-accent: oklch(58.2% 0.2226 304.59);
  --color-accent-content: oklch(98% 0.001 106.423);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(69.85% 0.1327 232.37);
  --color-info-content: oklch(14% 0.004 49.25);
  --color-success: oklch(76.04% 0.1741 129.85);
  --color-success-content: oklch(98% 0.001 106.423);
  --color-warning: oklch(78.92% 0.1713 69.64);
  --color-warning-content: oklch(14% 0.004 49.25);
  --color-error: oklch(58.2% 0.2226 25.81);
  --color-error-content: oklch(98% 0.001 106.423);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
